{% extends 'blog/base.html' %}
{% load bootstrap5 %}
{% block title %} Modifier {% endblock %}

{% block content %}

  <form method="post" action="{% url 'blog:edit_post' post.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary" >Enregistrer les modifications</button>
    {% if request.user.is_superuser %}
      <a class="btn btn-danger" href="{% url 'blog:delete_post' post.id %}">Supprimer</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'blog:post' post.id %}">Annuler</a>
    {% endbuttons %}
  </form>

{% endblock content %}

