{% extends 'blog/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load blog_extras %}
{% block title %} Accueil {% endblock %}


{% block page_header %}

  {% include 'blog/featured_articles.html' %}

  <hr>

{% endblock page_header %}

{% block content %}

<!-- copier coller début -->

<div class="row">
    <div class="col-md-8">
      <!-- changer ici -->
      {% for post in  page_obj %}
        <article class="blog-post mb-4">
        <h3 class="mb-0"><a class="text-decoration-none text-navy" href="{% url 'blog:post' post.id %}">{{ post.title }}</a></h3>
        <p class="mb-0 blog-post-meta">{{ post.created_on|date:"d/m/Y" }} écrit par {{ post.redacteur }} - {{ post.qualite }}</p>
        <p class="text-primary">{{ post.categories }}</p>

        <p> {{ post.content|safe|truncatewords:40 }} <a href="{% url 'blog:post' post.id %}">Lire plus</a></p>

        </article>
        <hr>

{% endfor %}
    </div>

<!-- Coté droit du site  -->
    <div class="col-md-4">

      {% include 'blog/right_side.html' %}

    </div>
  </div>


<!-- copier coller fin -->


<!-- pagination -->
<nav aria-label="Page navigation example">
{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if users.number == i %}
        <li class="active page-item"><span>{{ i }} <span class="page-link">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>

{% endblock content %}



