<!-- navs -->
<ul class="nav text-white justify-content-center flex-column flex-sm-row" style="background-color:darkblue;">
  {% if request.user.is_superuser %}
  <li class="nav-item dropdown mx-5">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ecrire un article</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:new_post' %}">Ecrire un article</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:draft' %}">Tous les brouillons</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:publication' %}">A publier</a></li>
    </ul>
  </li>
  {% endif %}
  {% ifequal user.groups.all.0.name "correcteur"%}
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ecrire un article</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:new_post' %}">Ecrire un article</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:draft' %}">Tous les brouillons</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:publication' %}">A publier</a></li>
    </ul>
  </li>
  {% endifequal %}
  {% ifequal user.groups.all.0.name "redacteur"%}
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ecrire un article</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:new_post' %}">Ecrire un article</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:draft' %}">Mes brouillons</a></li>
      <!-- <li><a class="dropdown-item" href="{% url 'blog:publication' %}">A publier</a></li> -->
    </ul>
  </li>
  {% endifequal %}

  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">D.I.</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:category' cat='D.I.' %}">Voir tout</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Actualités D.I' %}">Actualités</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Organisation' %}">Organisation</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Partenariats' %}">Partenariats</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Portraits' %}">Portraits</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Outils' %}">Outils</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='D.I.' rub_title='Liens utiles' %}">Liens utiles</a></li>

    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Expertises</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:category' cat='Expertise' %}">Voir tout</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Intro Expertises' %}">Intro</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Développement rural' %}">Développement rural</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Eau, Assainissement' %}">Eau, Assainissement</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Enseignement' %}">Enseignement</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Entreprises' %}">Entreprises(créa & dev)</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Formation pro' %}">Formation professionnelle</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='PCD' %}">PCD</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Expertise' rub_title='Santé' %}">Santé</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Missions</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:category' cat='Missions' %}">Voir tout</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Missions' rub_title='Intro Missions' %}">Intro</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Missions' rub_title='Interventions' %}">Interventions</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Missions' rub_title='Prospection' %}">Prospection</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Missions' rub_title='Rapports détaillés' %}">Rapports détaillés</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Missions' rub_title='Infos pratiques Missions' %}">Infos pratiques</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Projets</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:category' cat='Projets' %}">Voir tout</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Projets' rub_title='Intro Projets' %}">Intro</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Projets' rub_title='En développement' %}">En développement</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Projets' rub_title='Rapports Activités' %}">Rapports d'activités</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Le Monde</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:category' cat='Monde' %}">Voir tout</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Monde' rub_title='Actualités Monde' %}">Actualités</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:rubrique' cat='Monde' rub_title='Infos pratiques Monde' %}">Infos pratiques</a></li>
    </ul>
  </li>
  <!-- Avis de recherche -->
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Avis de recherche
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:90%">
        {{ avis|length }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'blog:index_avis' %}">Intervenant En cours</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:index_porteur' %}">Porteur En cours</a></li>
      <li><a class="dropdown-item" href="{% url 'blog:index_avis_archiver' %}">Archives</a></li>
      {% if request.user.is_superuser %}
      <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'blog:new_avis'%}">Ecrire un avis de recherche</a></li>
      {% endif %}
    </ul>
  </li>
</ul>
