{% load static %}
<!DOCTYPE html>
<html>
<body>

<!-- header -->

<header class="py-3">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <a href="http://www.agirabcd.eu" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
         <img src="{% static 'blog/Logo.png' %}" alt="logo" height="80">
      </a>

      <div class="d-flex align-items-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
         <img src="{% static 'blog/logo-header-2.png' %}" alt="logo" width="500">
        </a>

        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Liens utiles</span>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="https://www.agirabcd.fr/intragir31/index.php/fr/liendumenuconnexionamoi">INTRAGIR</a></li>
            <li><a class="dropdown-item" href="https://gaia.agirabcd.fr/">GAIA</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCI3fcCXznu1c3IEKL4VuK4g">Youtube</a></li>
            <li><hr class="dropdown-divider"></li>
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Se déconnecter</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'users:login' %}">S'identifier</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>
<!-- fin new header -->
{% include 'blog/links.html' %}



</div>
</body>
</html>
