{% load static %}
<!DOCTYPE html>
<html>
<body>

<!-- header -->

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
         <img src="{% static 'blog/Logo.png' %}" alt="logo" height="80">
      </a>

      <div class="d-flex align-items-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
         <img src="{% static 'blog/header-cartouche.jpg' %}" alt="logo" width="500">
        </a>
      </div>

        <div class="col-md-3 text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Liens AGIR utiles</span>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="https://www.agirabcd.fr/intragir31/attachments/article/32/Qui%20Fait%20Quoi%20-%2019-04-2022.pdf">Qui fait quoi ?</a></li>
            <li><a class="dropdown-item" href="https://gaia.agirabcd.fr/application/AGIRabcd/Annuaires/AnimateursInternationaux.pdf">Annuaire AI</a></li>
            <li><a class="dropdown-item" href="https://gaia.agirabcd.fr/application/AGIRabcd/Annuaires/Delegues.pdf">Annuaire DT</a></li>
            <li><a class="dropdown-item" href="http://www.agirabcd.eu">AGIRabcd</a></li>
            <li><a class="dropdown-item" href="https://www.agirabcd.fr/intragir31/index.php/fr/liendumenuconnexionamoi">Intragir</a></li>
            <li><a class="dropdown-item" href="https://gaia.agirabcd.fr/">Gaia missions</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCI3fcCXznu1c3IEKL4VuK4g">Chaîne Youtube</a></li>
            <li><hr class="dropdown-divider"></li>
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Se déconnecter</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'users:login' %}">S'identifier</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
<!-- fin new header -->
{% include 'blog/links.html' %}



</div>
</body>
</html>
